body {
    background-color: #1a1a1a;
}


.parnet {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #0a0a0a;
}
.from,
.hold {
    width: 70%;
    margin: auto ;
    margin-bottom: 10px;
    
}
.from .form-row {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}

.header{
    color: white;
    width: 100%;
    font-family: sans-serif;
    margin: 0px 0 0px 6px;
}
.form-row #item {
    width: 100%;
    padding: 7px;
    border: none;
    outline: none;
    background: #00968878;
    border-radius: 7px;
}


.btn {
    width: 100%;
    padding: 7px;
    border: solid 1px wheat;
    outline: none;
    background: #00968878;
    border-radius: 7px;
    margin-top: 10px;
}

.btn:focus {
    border: solid 1px black;

}
ul label {
    color: white;
    cursor: pointer;
}


ul .btn-danger{
    width: 61px;
    color: red;
    border-color: red;
    background: transparent;
    border-radius: 7px;
    margin-left: 7px;
    cursor: pointer;

}